<div class="container">
	{% for item in items %}
		{% if item.inputlistvar %}
			{% include "@atoms/input/input.twig" with item.inputlistvar %}
		{% endif %}
	{% endfor %}

	{% include "@atoms/button/button.twig" with submitButton %}
</div>
