{% extends "@templates/Layout/onecolumn/onecolumn.twig" %}



{% block main %}
<h2 class="mb-5">
	About Us
</h2>
{% include "@organisms/content-section/content-section.twig" with contentData %}
{% endblock %}